.small-image {
    width: 350px;
}

.extra-padding {
    padding-bottom: 20px;
}

.container {
	background: rgba(255, 255, 255, .7);
	padding-bottom: 20px;
}

body {
	background-image: url('http://hdw.datawallpaper.com/entertainment/game-of-thrones-hd-wallpaper-333393.jpg');
	background-position: top center;
}