<div ng-controller="detail-handler">
    <h2 class="extra-padding">Details of {{element.name}}</h2>
    <div class="container-fluid extra-padding">
        <div class="col-md-3">
            <img src="{{wikipedia.thumbnail}}"
                 class="img-thumbnail small-image" alt="{{element.name}}"/>
        </div>
        <div class="col-md-9">
            <label for="name">Name</label>
            <p id="name">{{element.name}}</p>
            <label for="season">Season</label>
            <p id="season">{{element.season}}</p>
            <label for="episode">Episode</label>
            <p id="episode">{{element.episode}}</p>
        </div>
    </div>
    <div class="well">
        <p ng-bind-html="wikipedia.text"></p>
    </div>
    <button class="btn btn-default" ng-click="goBack()">Go back</button>
</div>