<div ng-controller="grid-handler">
    <table class="table table-hover">
        <thead>
        <tr class="form-inline">
            <th>
                <label for="inputName">Name:</label>
                <input id="inputName" type="text" placeholder="Jon" ng-model="search.name" class="form-control">
            </th>
            <th>
                <label for="seasonSelect">Season:</label>
                <select id="seasonSelect" ng-model="search.season" class="form-control">
                    <option ng-repeat="season in seasons" value="{{season.id}}">{{season.name}}</option>
                </select>
            </th>
            <th>
                <label for="episodeSelect">Episode:</label>
                <select id="episodeSelect" ng-model="search.episode" class="form-control">
                    <option ng-repeat="episode in episodes" value="{{episode.id}}">{{episode.value}}</option>
                </select>
            </th>
            <th>
                <a href="/#/add" class="btn btn-primary">Add Death</a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="character in characters | filter:search ">
            <td>{{character.name}}</td>
            <td>{{character.season}}</td>
            <td>{{character.episode}}</td>
            <td>
                <button class="btn btn-danger" data-toggle="modal" data-target="#deleteElement"
                        ng-click="showDelete(character)">Delete
                </button>
                <a href="/#/detail/{{character.id}}" class="btn btn-success">Details</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="modal fade" id="deleteElement" tabindex="-1" role="dialog" aria-labelledby="Delete death"
         ng-controller="guess-handler">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Delete death of {{element.name}}</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure that you want to delete this death guess? This action cannot be undone.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="confirmDelete(element.id)">Yes I'm sure</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Whoops, nope</button>
                </div>
            </div>
        </div>
    </div>
</div>

