<div ng-controller="guess-handler">
    <h2>Add new death guess</h2>
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" type="text" class="form-control" placeholder="Jon Snow" ng-model="guess.name"/>
        </div>
        <div class="form-group">
            <label for="season">Season</label>
            <select id="season" ng-model="guess.season" class="form-control">
                <option ng-repeat="season in seasons" value="{{season.id}}">{{season.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="episode">Episode</label>
            <select id="episode" ng-model="guess.episode" class="form-control">
                <option ng-repeat="episode in episodes" value="{{episode.id}}">{{episode.value}}</option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit" ng-click="addGuess(guess)">Add new death</button>
        <button class="btn btn-default" ng-click="goBack()">Go back</button>
    </form>
</div>