<div ng-controller="home-handler" class="text-center" style="{{height}}">
	<h1>Necro Prode - Game of Thrones edition</h1>
	<h2 class="text-danger">Because all men must die</h2>
	<p>Created by: {{creators}}</p>
</div>